<div class="warper">
  <div class="row">
    <div class="col-xs-4">
      <img src="<%= avatar %>" alt="Photo Profile" class="img-circle img-responsive img-thumbnail">
    </div>
    <div class="col-xs-8">
      <blockquote>
        <p><%= full_name %></p>
        <small>
          <cite title="Source title">
            Journalist <%= role %>
            <i class="fa fa-user"></i>
          </cite>
        </small>
        <span class="label label-info">
          <i class="fa fa-envelope"></i>
          <%= email %>
        </span>
      </blockquote>
    </div>
  </div>
</div>
