<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-brand">
        Journalist
        <span class="label label-primary">Client</span>
      </div>
    </div>
  </div>
</div>
