<div class="warper">
  <div class="row">
    <div class="col-xs-4">
      <img src="http://www.gravatar.com/avatar/4ba488fc7d16230af799639aaa367233/" alt="Photo Profile" class="img-circle img-responsive img-thumbnail">
    </div>
    <div class="col-xs-8">
      <blockquote>
        <p>Fauzan Qadri</p>
        <small>
          <cite title="Source title">
            Journalist User
            <i class="fa fa-user"></i>
          </cite>
        </small>
        <span class="label label-info">
          <i class="fa fa-envelope"></i>
          ojankill@gmail.com
        </span>
      </blockquote>
    </div>
  </div>
</div>
